*{
  margin : 0;
  padding : 0;
  font-family : 'poppins', sans-serif;
  box-sizing : border-box;
}

.container{
  width : 100%;
  height: 100vh;
  align-items : center;
  display : flex;
  justify-content : center;
  flex-wrap : wrap;
}

.music-player{
  width : auto;
  background : #222222;
  border-radius : 10px;
  box-shadow : 0 15px 25px rgba(33, 33, 33, 0.5);
  padding : 25px 35px;
  text-align : center;
}

.nav{
    display : flex;
    justify-content : space-between;
    margin-bottom : 30px;
}

.lang{
    position : absolute;
    top : 20px;
    right : 20px;
    font-family: 'poppins', sans-serif;
    font-size : 14px;
    color : #fff;
    cursor : pointer;
} 





